body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg {
    background-color: #f2f2f2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 400px;
    max-width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.signup-box {
    background-color: #333;
    color: white;
    margin: 20px 0;
    padding: 20px;
}

input[type=email], input[type=password], input[type=text] {
    width: calc(60% - 50px);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: calc(100% - 40px);
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}